.swiper-wrapper {
    width: 0 !important;
}

.swiper-pagination-bullet {
    background: #cdb091 !important;
    width: 11px !important;
    height: 11px !important;
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.swiper-pagination {
    bottom: 0 !important;
}